@use "../../partials/mixins" as *;
@use "../../partials/variables" as *;

.projects {
  &__container {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;

    @include tablet {
      width: 75%;
      justify-content: center;
    }
  }
  &__title {
    font-size: 2.5rem;
    color: #3e17cb;
    font-weight: 400;
    text-align: left;
    width: 70%;
    margin-top: 30%;
    margin-left: 10%;

    @include tablet {
      margin-top: 170px;
      font-size: 5rem;
      font-weight: 600;
      margin-top: 10%;
      margin-left: 5%;
    }
  }
  &__arrow-left,
  &__arrow-right {
    bottom: 2rem;
    z-index: 4;
    cursor: pointer;
    user-select: none;

    @include tablet {
    }
  }

  &__arrow-left {
    left: 10rem;
    border: none;
    @include tablet {
      left: 25rem;
    }
  }

  &__arrow-right {
    right: 25rem;
    border: none;
    @include tablet {
    }
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
    margin-right: 3rem;
    @include tablet {
      margin-right: 0rem;
    }
  }
}
