@use "../../partials/mixins" as *;
@use "../../partials/variables" as *;

.hero2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  &__wrapper {
    display: flex;

    position: absolute;
    transform: translate(0%, 10%);
    top: 13%;
    left: 0%;

    @include tablet {
      top: 35%;
      left: 15%;
      width: 60%;
      transform: translate(0%, -15%);
      max-width: 60rem;
    }
  }

  &__textcontainer {
    padding: 0 2.5rem 0 2.5rem;

    @include tablet {
      padding: 0;
    }
  }

  &__h1 {
    color: #ffffff;
    font-size: 17px;
    margin-bottom: 2rem;
    @include tablet {
      font-size: 1.5625rem;
      margin-bottom: 4rem;
      font-size: 2.5rem;
      font-weight: 600;
    }
  }

  &__h2 {
    font-size: 25px;
    color: #ffffff;
    margin-bottom: 1rem;
    @include tablet {
      margin-bottom: 2rem;
      font-size: 2.1875rem;
      letter-spacing: 0.3125rem;
    }
  }

  &__h3 {
    font-size: 12px;
    color: #ffffff;
    font-weight: 400;
    text-align: right;
    width: 75%;

    @include tablet {
      font-size: 17px;
      width: 60%;
      display: flex;
      justify-content: flex-end;
    }
  }

  &__imagecontainer {
    display: none;
    position: relative;

    @include tablet {
      display: block;
      margin-left: 20rem;
    }
  }

  &__headshot {
    width: 450px;
    position: absolute;
    transform: translate(-47%, -20%);
    z-index: 2;
  }

  &__whitebox {
    width: 941px;
    position: absolute;
    transform: translate(-64.5%, -50.22%);
    top: 177px;
    left: 150px;
  }

  &__imagecontainer2 {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 70%;
    left: 50%;

    @include tablet {
      display: none;
    }
  }

  &__headshot2 {
    position: absolute;
    width: 200px;
    transform: translate(-52%, -28%);
    top: 0%;
    left: 0%;
    z-index: 1;
  }

  &__whitebox2 {
    position: absolute;
    width: 420px;
    transform: translate(-51.5%, -41.5%);
    top: 27px;
    left: 2px;
  }

  &__bluecorner {
    position: absolute;
    width: 80px;
    transform: translate(-55%, 10%);
    top: -90px;
    left: -90px;
  }

  &__yellowcorner {
    display: none;
    @include tablet {
      display: block;
      width: 18.1444rem;
      position: absolute;
      left: 0px;
      bottom: 0;
    }
  }

  &__yellowx {
    display: none;
    @include tablet {
      display: flex;
      position: absolute;
      top: -217px;
      left: -344px;
      z-index: 1;
      width: 210px;
    }
  }

  &__bluex {
    position: absolute;
    top: 295px;
    left: 30px;
    z-index: 1;
    width: 250px;
  }

  &__yellowarrow {
    display: none;
    @include tablet {
      position: absolute;
      display: flex;
      width: 270px;
      left: -210px;
      top: -250px;
    }
  }

  &__bluearrow {
    position: absolute;
    display: flex;
    width: 100px;
    right: -1rem;
    bottom: -0.7rem;
    @include tablet {
      width: 250px;
      right: -1rem;
      bottom: -2rem;
    }
  }

  &__slogan {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__scroll {
    width: 4.0625rem;
    height: 4.375rem;

    @include tablet {
      width: 4.0625rem;
      height: 4.375rem;
    }
  }
}
