@use "../../partials/mixins" as *;
@use "../../partials/variables" as *;

.hero {
  @include tablet {
    height: calc(100vh - 6.25rem);
    position: relative;
  }

  &__wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;

    @include tablet {
      max-width: 85.375rem;
      height: 100%;
      margin: auto;
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: space-between;
      margin-top: -1rem;
      z-index: 2;
    }
  }

  &__textcontainer {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;

    @include tablet {
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      gap: 1.25rem;
      margin-left: 7rem;
    }
  }

  &__imagecontainer {
    margin: auto;
    margin-top: 10rem;
    margin-right: 4rem;
    @include tablet {
      height: 100%;
      display: flex;
      align-items: center;
      margin-top: -2rem;
      margin-left: 2.5rem;
      position: relative;
    }
  }

  &__scroll {
    display: none;
    @include tablet {
      display: flex;
      width: 4.0625rem;
      height: 4.375rem;
    }
  }

  &__scroll-mobile {
    display: flex;
    width: 4.0625rem;
    height: 4.375rem;
    margin-top: 2rem;
    @include tablet {
      display: none;
    }
  }

  &__slogan {
    text-align: right;
    @include tablet {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      justify-content: space-evenly;
    }
  }

  &__headshot {
    width: 14.0625rem;
    height: 14.0625rem;
    margin-top: -3rem;
    position: relative;
    z-index: 2;

    @include pro {
      margin-top: -1.5rem;
    }
    @include xr {
      margin-top: 1.7rem;
      margin-right: 0.8rem;
    }

    @include promax {
      margin-top: 2.7rem;
      margin-right: 1.3rem;
    }

    @include tablet {
      margin-top: 0;
      margin-right: 0rem;
      width: 28.125rem;
      height: 28.125rem;
    }
  }

  &__h1 {
    font-size: 1.5625rem;
    margin-top: 0.5rem;
    color: #ffffff;
    @include tablet {
      margin-top: 0rem;
      font-size: 2.5rem;

      font-weight: 600;
    }
  }

  &__h2 {
    font-size: 1.8125rem;
    margin-top: 2rem;
    color: #ffffff;
    @include tablet {
      margin-top: 0rem;
      font-size: 2.1875rem;
      letter-spacing: 0.3125rem;
    }
  }

  &__h3 {
    width: 15rem;
    font-size: 0.9375rem;
    margin-left: 5rem;
    margin-top: -4rem;
    color: #ffffff;
    font-weight: 400;

    @include promax {
      margin-left: 7rem;
    }
    @include tablet {
      text-align: right;
      width: 50rem;
      margin-left: 8rem;
      margin-top: 5rem;
      font-size: 1.25rem;
    }
  }

  &__yellowarrow {
    display: none;
    @include tablet {
      display: flex;
      width: 18.1444rem;
      position: absolute;
      left: 2.5rem;
      top: -1.5625rem;
    }
  }
  &__yellowcorner {
    display: none;
    @include tablet {
      display: flex;
      width: 18.1444rem;
      position: absolute;
      left: 0px;
      bottom: 0;
    }
  }
  &__yellowx {
    display: none;
    @include tablet {
      display: flex;
      width: 11.875rem;
      position: absolute;
      right: 23.125rem;
      top: 5.5rem;
    }
  }

  &__bluex {
    position: absolute;
    display: flex;
    width: 6.25rem;
    right: 5rem;
    bottom: -9rem;
    @include pro {
      width: 8rem;
      bottom: -0.7rem;
    }
    @include xr {
      width: 7rem;
      bottom: 0.5rem;
    }

    @include tablet {
      display: flex;
      width: 20.3125rem;
      left: 10rem;
      bottom: -3rem;
    }
  }

  &__bluecorner {
    position: absolute;
    display: flex;
    width: 6.25rem;
    left: 2.5rem;
    bottom: 4rem;
    z-index: 1;
    @include pro {
      bottom: 13.5rem;
    }
    @include xr {
      bottom: 15rem;
      left: 3rem;
    }

    @include tablet {
      display: none;
    }
  }

  &__bluearrow {
    display: flex;
    width: 6.875rem;
    margin-top: -2.8rem;
    margin-left: -1.8rem;
    rotate: 100deg;
    @include pro {
      margin-top: -2.4rem;
      margin-left: -1.5rem;
    }

    @include xr {
      margin-top: -2.2rem;
      margin-left: -1.4rem;
    }

    @include tablet {
      rotate: 0deg;
      display: flex;
      width: 18.1444rem;
      position: absolute;
      right: -4rem;
      bottom: -2rem;
    }
  }

  &__whitebox {
    position: absolute;
    display: flex;
    width: 29.375rem;
    right: -2.5rem;
    bottom: -14rem;

    @include pro {
      bottom: -4.5rem;
    }
    @include xr {
      right: -1.6rem;
      bottom: -4.4rem;
    }

    @include promax {
      right: -1rem;
      bottom: -3.2rem;
    }

    @include tablet {
      position: absolute;
      display: flex;
      width: 58.75rem;
      right: -1.5rem;
      bottom: -6.2rem;
      z-index: 1;
    }
  }

  &__whitebox-mobile {
    position: absolute;
    display: flex;
    width: 58.75rem;
    right: -1.5rem;
    bottom: 8rem;
    z-index: 1;
    @include tablet {
      display: none;
    }
  }
}
