@use "../../partials/mixins" as *;
@use "../../partials/variables" as *;

.about {
  &__text {
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
    font-size: 0.875rem;
    padding-top: 3.5rem;
    gap: 1.25rem;

    @include xr {
      padding-top: 4.5rem;
    }

    @include pro {
      padding-top: 4rem;
    }

    @include tablet {
      width: 35%;
      max-height: 90%;
      margin-left: 16.5rem;
      padding-top: 6.5rem;
      font-size: 1rem;
    }
  }

  &__title {
    font-size: 2.5rem;
    color: #3e17cb;
    font-weight: 400;

    @include tablet {
      font-weight: 600;
      font-size: 6.25rem;
    }
  }

  &__paragraph-one {
    font-size: 12px;

    @include tablet {
      font-size: 0.9375rem;
    }
  }

  &__paragraph-two {
    font-size: 12px;

    @include tablet {
      font-size: 0.9375rem;
    }
  }
  &__paragraph-three {
    font-size: 12px;

    @include tablet {
      font-size: 0.9375rem;
    }
  }

  &__techstack {
    display: none;

    @include tablet {
      display: flex;
    }
  }
}
