@use "../../partials/mixins" as *;
@use "../../partials/variables" as *;

.about {
  &__text {
    width: 35%;
    max-height: 90%;
    position: relative;
  }

  &__title {
    font-size: 53px;
    color: black;
    font-weight: 400;
  }
}
