@use "../../partials/mixins" as *;
@use "../../partials/variables" as *;

.about {
  &__container {
    display: flex;
    position: absolute;
    transform: translate(0%, 0%);
    width: 100%;

    @include tablet {
      display: flex;
      transform: translate(-14%, 0%);
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding-top: 3.5rem;
      padding-bottom: 3.5rem;
    }
  }
  &__text {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 0.875rem;
    padding-top: 3.5rem;
    gap: 1.25rem;

    @include tablet {
      justify-content: space-between;
      width: 660px;
      max-height: 90%;
      padding-top: 2.5rem;
      font-size: 1rem;
    }
  }

  &__title {
    font-size: 2.5rem;
    color: #3e17cb;
    font-weight: 400;

    @include tablet {
      font-weight: 600;
      font-size: 6.25rem;
    }
  }

  &__paragraph-one {
    font-size: 12px;

    @include tablet {
      font-size: 0.9375rem;
    }
  }

  &__paragraph-two {
    font-size: 12px;

    @include tablet {
      font-size: 0.9375rem;
    }
  }
  &__paragraph-three {
    font-size: 12px;

    @include tablet {
      font-size: 0.9375rem;
    }
  }

  &__techstack {
    display: none;

    @include tablet {
      width: 35%;
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }
  }
  &__visual {
    height: 100%;
    width: 50%;
    margin-top: -25rem;
    margin-left: 130rem;
  }
}
