@use "../../partials/mixins" as *;
@use "../../partials/variables" as *;

.contact {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;

  @include tablet {
    height: 100%;
    max-width: 85.375rem;
    display: flex;
    align-items: center;
  }

  &__textcontainer {
    @include tablet {
    }
  }

  &__formcontainer {
    @include tablet {
    }
  }

  &__info {
    display: flex;
    flex-direction: column;

    @include tablet {
    }
  }
}

input,
textarea {
  padding: 1.25rem;
  background-color: transparent;
  border: 1px solid red;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

button {
  padding: 20px;
  border: none;
  border-bottom: 1px solid #3e17cb;
  background-color: transparent;
  cursor: pointer;
  font-weight: 500;
}
