@use "../../partials/mixins" as *;
@use "../../partials/variables" as *;

.cube {
  &__stagecont {
    display: none;
    @include tablet {
      display: flex;
      position: absolute;
      transform: translate(75%, 13%);
      width: 50%;
      height: 100%;
    }
  }
}
.cube__spinner {
  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  transform-style: preserve-3d;
  transform-origin: 6.25rem 6.25rem 0;
  margin-left: calc(50% - 6.25rem);

  div {
    position: absolute;
    width: 18.75rem;
    height: 18.75rem;
    border: 1px solid white#ccc;
    background: rgba(255, 255, 255, 0.9);
    text-align: center;
    font-size: 6.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 2.5rem 0px #f5d085;
  }

  .face1 {
    transform: translateZ(9.375rem);
    color: #efd81d;
  }
  .face2 {
    transform: rotateY(90deg) translateZ(9.375rem);
    color: #f06529;
  }
  .face3 {
    transform: rotateY(90deg) rotateX(90deg) translateZ(9.375rem);
    color: #28a4d9;
  }
  .face4 {
    transform: rotateY(180deg) rotateZ(90deg) translateZ(9.375rem);
    color: #6cc24a;
  }
  .face5 {
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(9.375rem);
    color: #ec4d28;
  }
  .face6 {
    transform: rotateX(-90deg) translateZ(9.375rem);
    color: #5ed4f4;
  }
}

@keyframes spincube {
  from,
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    transform: rotateY(-90deg);
  }
  33% {
    transform: rotateY(-90deg) rotateZ(90deg);
  }
  50% {
    transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    transform: rotateY(-270deg) rotateZ(90deg);
  }
  83% {
    transform: rotateX(90deg);
  }
}
