@use "../../partials/mixins" as *;
@use "../../partials/variables" as *;

.navbar {
  height: 100px;

  @include tablet {
  }

  @include desktop {
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 40px;
    height: 100%;

    @include tablet {
    }

    @include desktop {
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;

      height: 100%;
      max-width: 1430px;
      justify-content: left;
    }
  }

  &__socials {
    display: flex;
    gap: 20px;
  }

  &__github {
    width: 5rem;
    height: 5rem;
  }

  &__linkedin {
    width: 5rem;
    height: 5rem;
  }
}
