@use "../../partials/mixins" as *;
@use "../../partials/variables" as *;

.navbar {
  height: 6.25rem;

  @include tablet {
  }

  @include desktop {
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 2.5rem;
    height: 100%;

    @include tablet {
    }

    @include desktop {
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;

      height: 100%;
      max-width: 89.375rem;
      justify-content: left;
    }
  }

  &__socials {
    display: flex;
    gap: 1.25rem;
  }

  &__github {
    width: 5rem;
    height: 5rem;
  }

  &__linkedin {
    width: 5rem;
    height: 5rem;
  }

  &__temp {
    color: #fdc75d;
    font-size: 2.5rem;
    margin-top: 3rem;
  }
}
