@use "./variables" as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin flexposition($horizontal, $vertical) {
  justify-content: $horizontal;
  align-items: $vertical;
}
