@use "../../partials/mixins" as *;
@use "../../partials/variables" as *;

.projectscard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  height: 70vh;
  width: 90%;
  margin-left: 1.3rem;
  margin-top: 2rem;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;

  @include tablet {
    flex-direction: row;
    margin-left: 3.5rem;
    margin-top: -6rem;
    padding: 1rem;
    width: 75rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
  }

  &__video {
    width: 98%;
    height: 10rem;
    padding: 0 20px 0 20px;

    @include tablet {
      width: 80%;
      height: 65%;
    }
  }

  &__text {
    font-size: 10px;
    width: 100%;
    margin: 10px 0;
    // padding: 0 20px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
    @include pro {
      font-size: 13px;
    }
    @include xr {
      font-size: 13px;
    }
    @include promax {
      margin: 15px 0;
      font-size: 14.5px;
    }

    @include tablet {
      // padding: 0;
      margin: 22px 0;
      font-size: 15px;
    }
  }

  &__title {
    font-size: 20px;
    width: 50%;
    word-wrap: inherit;

    @include pro {
      font-size: 23px;
    }

    @include xr {
      font-size: 23px;
    }
    @include promax {
      font-size: 25px;
    }

    @include tablet {
      font-size: 30px;
      width: 50%;
    }
  }
  &__textcontainer {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 10px 10px;

    @include tablet {
      width: 100%;
    }
  }

  &__subtitle {
    color: #fff;
    font-size: 0.65rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.08rem;
    margin: 0;
    @include desktop {
      font-size: 1rem;
    }
    &-wrap {
      display: flex;
      align-items: flex-start;
      gap: 0.625rem;
      border-radius: 0.25rem;
      border: 3px solid #3e17cb;
      background: #3e17cb;
      width: fit-content;
      @include tablet {
        padding: 0.1rem;
      }
    }
  }

  &__tech {
    font-size: 10px;
    margin-left: 1rem;
    @include pro {
      font-size: 12.5px;
    }
    @include xr {
      font-size: 12.5px;
    }

    @include promax {
      font-size: 13px;
    }

    @include tablet {
      font-size: 15px;
    }
  }

  &__media {
    display: flex;
    flex-direction: column;
  }

  &__position {
    display: flex;
    flex-direction: row;
    margin: 8px 0;
  }
  &__top {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    height: 6rem;
    margin-top: -4rem;
    margin-bottom: 0.625rem;
  }
  &__code {
    width: 1.2rem;
    height: 1.2rem;
    margin-top: 1rem;
    margin-left: -1.5rem;
    @include pro {
      width: 1.5rem;
      height: 1.5rem;
    }
    @include xr {
      width: 1.5rem;
      height: 1.5rem;
    }

    @include promax {
      width: 1.5rem;
      height: 1.5rem;
    }

    @include tablet {
      width: 2rem;
      height: 2rem;
      margin-top: 1.5rem;
      margin-left: -1.5rem;
    }
  }
}
