@use "/src/partials/_mixins" as *;
@use "/src/partials/variables" as *;

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  background-color: blue;
  color: gray;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  height: 100vh;
  scroll-snap-align: center;
}

.aboutme {
  height: 120vh;
  background-image: url(/src/assets/backgroundcopy.svg);
  background-position: top;
  background-size: 100%;

  @include tablet {
    background-image: url(/src/assets/background.svg);
    background-position: center;
    background-size: 100%;
    height: 100vh;
  }
}
